# {{ ansible_managed }}
# .bash_profile

# Don't show the MOTD more than once
export SKIP_MOTD="true"

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
    . ~/.bashrc
fi

# User specific environment and startup programs

PATH=$HOME/bin:$HOME/.local/bin:{% if user.path is defined and user.path != [] %}{{ user.path | join(':') }}{% endif %}:$PATH

export PATH

{% if user.bash_profile is defined %}
{{ user.bash_profile }}

{% endif %}
# vim: ft=sh:ts=4:sw=4