#!/bin/bash

# Ansible variables for BASH
# Fabrizio Colonna <colofabrix@tin.it>

# The environment assigned to this machine
export MACHINE_ENV="{{ env | default('') }}"

# The environment assigned to this machine
export MACHINE_ENV_DESC="{{ (environments | default([]) | selectattr("name", "equalto", env) | list | first).description }}"

# The datacenter where this machine is located
export MACHINE_DC="{{ dc | default('') }}"

# The environment assigned to this machine
export MACHINE_DC_DESC="{{ (datacenters | default([]) | selectattr("name", "equalto", dc) | list | first).description }}"

# What Ansible groups this machine is member
export MACHINE_MEMBER_OF="{{ memberof | default([]) | join(' ') }}"

# vim: ft=sh:ts=4:sw=4