#!/bin/bash
# {{ ansible_managed }}
#
# MIT License
#
# Copyright (c) 2017, 2018, 2019 Fabrizio Colonna <colofabrix@tin.it>
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

# The environment assigned to this machine
export MACHINE_ENV="{{ env | default('') }}"

# The environment assigned to this machine
{% if env_description is defined %}
export MACHINE_ENV_DESC="{{ env_description }}"
{% elif environments is defined %}
export MACHINE_ENV_DESC="{{ (environments | selectattr("name", "equalto", env) | list | first).description }}"
{% else %}
export MACHINE_ENV_DESC=""
{% endif %}

# The datacenter where this machine is located
export MACHINE_DC="{{ dc | default('') }}"

# The environment assigned to this machine
{% if dc_description is defined %}
export MACHINE_DC_DESC="{{ dc_description }}"
{% elif datacenters is defined %}
export MACHINE_DC_DESC="{{ (datacenters | selectattr("name", "equalto", dc) | list | first).description }}"
{% else %}
export MACHINE_DC_DESC=""
{% endif %}

# What Ansible groups this machine is member
export MACHINE_MEMBER_OF="{{ memberof | default([]) | join(' ') }}"

# vim: ft=sh:ts=4:sw=4
